{% extends "default.html" %}
{% load static %}
{% block content %}
<!-- Page Title -->
<section class="page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 title">
				<h2>Sobre nós</h2>
				<ol class="breadcrumb">
					<li>Você esta aqui: &nbsp;</li>
					<li><a class="pathway" href="{% url 'qnow_site:site' %}">Home</a></li>
					<li class="active">Sobre</li>
				</ol>
			</div>
		</div>
	</div>
</section>
<!-- /Page Title -->

<!-- Top A -->
<section class="top-a">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="module title3">
					<div class="module-content">
						<div class="uk-grid uk-margin-bottom">
							<div class="uk-width-medium-1-3">
             					<h3 class="module-title">Nossa plataforma</h3>
								<p><img width="80%" alt="Sobre nós" src="{% static '/images/logo-qnow1.png' %}"></p>
							</div>
							<div class="uk-width-medium-1-3" style="text-align:justify">
             					<h3 class="module-title">O que oferecemos?</h3>
								<p class="dropcap">A Quotation Now, ou como gostamos de chamar <strong>"Q-NOW"</strong>, em tradução livre do inglês, significa: "Cotação Agora", 
									é uma plataforma de cotação online para um nicho de 
									mercado muito importante, neste caso Móveis Planejados. Temos a intenção de oferecer, um mecanismo de cotação, que 
									unirá <strong>CLIENTES e MARCENARIAS</strong> em um só ambiente, dando a ambas as partes, uma experiência simples e 
									eficaz, tanto para o <strong>CLIENTE</strong> que busca os melhores preços, prazos de entrega e condições de pagamento, como para <strong>MARCENEIROS</strong>, 
									colocando-os em condições iguais neste mercado com tanta concorrência.
								</p>
							</div>
							<div class="uk-width-medium-1-3" style="text-align:justify">
             					<h3 class="module-title">Qual o nosso objetivo?</h3>
									Objetivamos ter uma forma simplificada de um sistema de cotação para um nicho de mercado importantíssimo, que são os de móveis planejados. 
									Onde desejamos poder levar aos clientes, empresas que se destaquem em qualidade de serviço, com preços competitivos e com facilidade na forma 
									de pagamento. Hoje, este segmento agrega um valor importante a seus produtos, pois oferecem um processo de industrialização que respeita totalmente 
									o desejo do cliente na produção. Tendo em vista esta regra de negócio, é importante ter um local onde <strong>MARCENARIAS</strong> e <strong>CLIENTES</strong>,
									possam trocar informações com qualidade em um ambiente seguro e imparcial.							        
						
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Top A -->

<!-- Top B -->
<section class="top-b">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="module title3">
					<h3 class="module-title">Porque utilizar esta plataforma?</h3>
					<div class="module-content">
						<div class="uk-grid uk-text-center">
							<div class="uk-width-medium-1-3">
								<div class="uk-panel uk-panel-box uk-panel-box-secondary uk-panel-hover">
									<i class="pe-7s-portfolio pe-4x pe-va"></i>
									<h4>Marcenarias</h4>
									<p>As melhores empesas do segmento de móveis planejados estarão aqui.</p>
								</div>
							</div>
							<div class="uk-width-medium-1-3">
								<div class="uk-panel uk-panel-box uk-panel-box-secondary uk-panel-hover">
									<i class="pe-7s-vector pe-4x pe-va"></i>
									<h4>Facilidade</h4>
									<p>Possuimos uma ferramente simples e eficaz para cotações.</p>
								</div>
							</div>
							<div class="uk-width-medium-1-3">
								<div class="uk-panel uk-panel-box uk-panel-box-secondary uk-panel-hover">
									<i class="pe-7s-rocket pe-4x pe-va"></i>
									<h4>Comunicação</h4>
									<p>Interligamos CLIENTES e MARCENARIAS facilitando a negociação.</p>
								</div>
							</div>
						</div>
						<div class="uk-grid uk-text-center">
							<div class="uk-width-medium-1-3">
								<div class="uk-panel uk-panel-box uk-panel-box-secondary uk-panel-hover">
									<i class="pe-7s-magic-wand pe-4x pe-va"></i>
									<h4>Uma única ideia</h4>
									<p>O CLIENTE gera uma cotação e as MARCENARIAS informam os preços.</p>
								</div>
							</div>
							<div class="uk-width-medium-1-3">
								<div class="uk-panel uk-panel-box uk-panel-box-secondary uk-panel-hover">
									<i class="pe-7s-tools pe-4x pe-va"></i>
									<h4>Materiais e Qualidade</h4>
									<p>Primamos por MARCENARIAS, que utilizam materiais de primeira linha.</p>
								</div>
							</div>
							<div class="uk-width-medium-1-3">
								<div class="uk-panel uk-panel-box uk-panel-box-secondary uk-panel-hover">
									<i class="pe-7s-ribbon pe-4x pe-va"></i>
									<h4>Garantia</h4>
									<p>Garantimos a segurança dos dados gravados nesta plataforma.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Top B -->
<!-- /Our Latest Projects -->
<!-- /Testimonials -->
<!-- Bottom -->
<!-- /Bottom -->
{% endblock %}
<!-- Bottom B -->
<!-- Footer Top -->
<!-- Footer -->
{% block footer %}
{% endblock %}
<!-- /Bottom B -->
<!-- /Footer Top -->
<!-- /Footer -->