{% extends "default.html" %}
{% load cloudinary %}
{% load static %}
{% load tags %}
{% block content %}
<section class="page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 title">
				<h2>Minhas Cotações - {{ user.username }}</h2>
				<ol class="breadcrumb">
					<li>Você esta aqui: &nbsp;</li>
					<li><a class="pathway" href="{% url 'qnow_site:site' %}">Home</a></li>
					<li class="active">Minhas Cotações</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<!-- Cotações do usuário -->
{% if message != '' %}
<section class="main-body">
	<div class="container">
		<div class="module title5" style="text-align: center">
			<h3 class="module-title5">{{ message }}</h3>
		</div>
	</div>
</section>
{% else %}
<!--Messagem diversas-->
<section style="padding-top: 10px;">
	{% if messages %}
	<div class="container">
		<div class="module title5" style="text-align: center">
			<ul>
				{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
					{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
					<h3>{{ message }}</h3>
					</li>
					{% endfor %}
			</ul>
		</div>
	</div>
	{% endif %}
</section>

{% for field in quotation %}
<div class="container col-sm-6 col-md-6">
	<div class="row">
		<article itemtype="#" itemscope="" class="item item-page-6">
			<meta content="en-GB" itemprop="inLanguage">
			<div itemprop="articleBody">
				<div class="module title1">
					<h2 class="module-title">{{ field.stage }}</h2>
				</div>
				<!-- Móvel -->
				<strong>
					<h2 class="pe-7s-exapnd2" font="size:10px;">
						{% if field.mobile_type|lower == '_Outro'|lower %}
						{{ field.mobile_description }}
						{% else %}
						{{ field.mobile_type }}
						{% endif %}
						<small>Cotação Nº:{{ field.id }}</small>
					</h2>
				</strong>

				<!-- Imagem do ambiente e projeto-->
				<div data-uk-grid-margin="" class="uk-grid uk-grid-width-medium-1-2 uk-grid-collapse">
					<!-- Imagens do ambiente -->
					<div style="padding: 5px;">
						{% if field.image_environment|lower == 'None'|lower %}
						<a title="Sem foto do ambiente<br>Situação: {{ field.stage }} - Cotação Nº: {{ field.id }}<br><br><br>"
							data-uk-lightbox="{group:'group1'}" href="{% static '/images/no-image.png' %}">
							<img alt="MGA-Cotações<br>Sem foto do ambiente" src="{% static '/images/no-image.png' %}"
								height="200px;" width="350px;" class="uk-border-rounded">
							<small>Foto do Ambiente</small>
						</a>
						{% elif field.image_environment|lower != 'None'|lower %}
						<a title="Foto do seu ambiente<br>Situação: {{ field.stage }} - Cotação Nº: {{ field.id }}<br><br><br>"
							data-uk-lightbox="{group:'group1'}" href="{{ field.image_environment.url }}">
							<img alt="MGA-Cotações<br>Foto do ambiente" src="{{ field.image_environment.url }}"
								height="200px" width="350px" class="uk-border-rounded">
							<small>Foto do Ambiente</small>
						</a>
						{% endif %}
					</div>

					<!-- Imagens do projeto -->
					<div style="padding: 5px;">
						{% if field.image_project|lower == 'None'|lower %}
						<a title="Sem foto do projeto<br>Situação: {{ field.stage }} - Cotação Nº: {{ field.id }}<br><br><br>"
							data-uk-lightbox="{group:'group1'}" href="{% static '/images/no-image.png' %}">
							<img alt="MGA-Cotações<br>Sem foto do projeto" src="{% static '/images/no-image.png' %}"
								height="200px;" width="350px;" class="uk-border-rounded">
							<small>Foto do Projeto</small>
						</a>
						{% elif field.image_project|lower != 'None'|lower %}
						<a title="Foto do seu projeto<br>Situação: {{ field.stage }} - Cotação Nº: {{ field.id }}<br><br><br>"
							data-uk-lightbox="{group:'group1'}" href="{{ field.image_project.url }}">
							<img alt="MGA-Cotações<br>Foto do projeto" src="{{ field.image_project.url }}"
								height="200px;" width="350px;" class="uk-border-rounded">
							<small>Foto do Projeto</small>
						</a>
						{% endif %}
					</div>
				</div>

				<!-- Corpo do card, com as Caracteristicas, situação e edição do projeto,
								tudo respeintando a situação da cotação-->
				<div class="card-body" style="padding: 5px;">
					<!--Tipo do imóvel-->
					<label class="readmore">Imóvel:</label>
					<label class="card-text">{{ field.house_type }}</label>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					{% if 'Aprovado'|lower not in field.stage|lower %}
					{% if field.get_dif_date_now  <= 0 %}
					<label style="font-weight: bold; line-height: 0.4em; color:#FFB400; font-size: 1.8em;">
						Restam: {{ field.get_dif_date_now }} dia(s)
					</label>
					{% else %}
					<label style="font-weight: bold; line-height: 0.4em; color:red; font-size: 1.8em;">
						{{ field.get_dif_date_now }}
					</label>
					{% endif %}
					{% endif %}
					<br>


					<!--Caracteristicas do móvel-->
					<div class="card">
						<div class="card-header" id="headingTwo">
							<label class="card-title readmore">
								Caracteristicas:
							</label>

							<label role="button" class="collapsed uk-icon-arrow-circle-down" type="button"
								data-toggle="collapse" data-target="#{{ field.id }}" aria-expanded="false"
								aria-controls="collapseTwo aria-controls">
								Veja aqui...
							</label>
						</div>
						<div id="{{ field.id }}" class="collapse" aria-labelledby="headingTwo"
							data-parent="#accordionExample">
							<div class="card-body">
								{{ field.particulars }}
							</div>
						</div>
					</div>

					<!-- TampleteTAG que carrega os orçamentos de providers de um determinado cliente-->
					{% if 'Orçado'|lower in field.stage|lower or 'Aprovado'|lower in field.stage|lower %}
					{% get_price_client_provider field.id field.stage.status as quotation_price %}
					{% endif %}


					<!--Situação -->
					<div class="card">
						<div class="card-header" id="headingTwo">
							<label class="card-title readmore">
								Situação:
							</label>
							<!-- Situação em que se apresenta a cotação -->
							<label role="button" class="collapsed uk-icon-arrow-circle-down" type="button"
								data-toggle="collapse" data-target="#{{ field.slug }}" aria-expanded="false"
								aria-controls="collapseTwo aria-controls">
								{{ field.stage }}

								<!-- Mostra o valor já orçado e o nº total de cotações -->
								{% if 'Orçado'|lower in field.stage|lower or 'Aprovado'|lower in field.stage|lower %}
								<strong style="font-size: 1.4em;"> R$
									{% for price in quotation_price %}
									{% if forloop.first %}
									{{ price.quotation_value }}
									{% endif %}
									{% endfor %}
									+
								</strong>
								<label class="client_price_number">
									{% if 'Aprovado'|lower not in field.stage|lower %}
									{{ quotation_price.count }}
									{% else %}
									A
									{% endif %}

								</label>
								{% endif %}

								{% if 'Liberado'|lower in field.stage|lower  %}
								<strong style="font-size: 1.4em;"> Aguardando... </strong>
								{% endif %}

							</label>
						</div>

						<div id="{{ field.slug }}" class="collapse" aria-labelledby="headingTwo"
							data-parent="#accordionExample">
							<div class="modal-body">

								<!-- Explicando a situção em que esta a cotação -->
								{% if 'Orçado'|lower not in field.stage|lower and 'Aprovado'|lower not in field.stage|lower %}
								<div class="card-body">
									{{ field.stage.explication }}
								</div>
								{% endif %}

								<!-- Montar o form somente se for orçado e aprovado -->
								{% if 'Orçado'|lower in field.stage|lower or 'Aprovado'|lower in field.stage|lower %}
								<strong>
									{% if 'Aprovado'|lower not in field.stage|lower %}
									Parabéns, sua cotação Nº {{ field.id }} foi atendida.
									{% else %}
									Parabéns, sua cotação Nº {{ field.id }} esta aprovada!
									{% endif %}

								</strong>
								<br>
								<label style="font-weight: bold;">Leia com atenção</label>
								{% if 'Aprovado'|lower not in field.stage|lower %}

								<label style="text-align: justify; padding-left: 0.65em;">
									- Se algum valor ofertado aqui estiver dentro do esperado,
									você pode aprovar ou aguardar mais alguns dias, a fim de que, outras marcenarias
									deem seus lances.

									<br>

									- Quando você aprova um valor indica estar aprovando um fornecedor, para que o
									mesmo, possa entrar em
									contato e finalizar os detalhes. Neste contato, serão tiradas dúvidas de ambas as
									partes, e com isto,
									fechado o custo final de sua cotação.

									<br>
									- IMPORTANTE: O nome da marcenaria será informado no ato da aprovação. Este processo
									garante
									igualdade e imparcialidade no processo de orçamento feito por cada marcenaria.

								</label>
								{% else %}
								<label style="text-align: justify; padding-left: 0.65em;">
									<label style="font-weight: bold;">- Você optou pelo fornecedor listado
										abaixo,</label>
									para que o mesmo dê inicio aos próximos passos, que são:
									<br>
									&nbsp;&nbsp;1 - Entrar em contato com você<br>
									&nbsp;&nbsp;2 - Juntos analisar o projeto e fechar o valor final<br>
									&nbsp;&nbsp;3 - Assinar o contrato, produzir e entregar
									<br>

									<label style="font-weight: bold;">-
										A apartir de uma aprovação por sua parte, a </label>
									<strong>MGA Cotações</strong> sai de cena!
									Acreditamos que fizemos a parte inicial mais complicada deste processo
									quando se deseja móveis planejados, que é achar os melhores fornecedores,
									preços e condições de pagamento.
									<br>
									- Ao final de todo o processo, agradecemos se puder nos enviar uma foto e deixar seu
									comentário aqui mesmo.
									Isto ajudará a sabermos
									se o fornecedor aprovado cumpriu com sua obrigação e o recomenda e se você cliente,
									gostou do produto recebido.
								</label>
								{% endif %}

								</label>

								<!-- Form que lista os orçamentos e dá ação de escolha -->
								<form enctype="multipart/form-data" method="POST"
									action="{% url 'qnow_client:quotation_client_approved' field.id %}">
									{% csrf_token %}
									<div style="text-align: center; font-weight: bold; font-size: 1.4em;">
										<label style="font-weight: bold; ">Lista de orçamentos para cotação<br>Nº {{ field.id }}</label>
										<!-- TemplateTAG carregada com os dados de orçamento -->
										{% for price in quotation_price %}
										<div class="row">
											<div class="column">
												<div class="card_provider">
													<div
														style="width: 100%; line-height: 1em; padding: 0px; Important!">
														{% if price.approved %}
														<label style="font-weight: bold;">
															Marcenaria Aprovada<br></label><br>
														<label style="font-weight: normal;">
															{{ price.quotation_provider }}
														</label>
														{% else %}
														<label style="font-weight: bold;">
															Nome da Marcenaria</label><br>
														<label style="font-weight: normal;">
															Marcenaria({{ price.quotation_provider_id }})
														</label>
														{% endif %}
													</div>
													<div
														style="line-height: 1.4em; width: 100% padding: 5px 5px 5px 0px;">
														<div style="display: inline-block; width: 30%">
															<label style="font-weight: bold;">Orçamento</label><br>
															<label style="font-weight: normal;">R$
																{{ price.quotation_value }}</label>
														</div>

														<!-- Valida em forma de data -->
														<div
															style="display: inline-block; width: 20%; text-align: center;">
															<label style="font-weight: bold;">Validade</label><br>
															<label
																style="font-weight: normal;">{{ price.date_validate|date:"d/m/Y" }}</label>
														</div>

														<!-- Validade em forma de dias -->
														<div
															style="display: inline-block; width: 20%; text-align: right;">
															<label style="font-weight: bold;">
																{% if price.get_dif_date_validate <= 0 %}
																Restam
																{% else %}
																Vencido
																{% endif %}
															</label><br>

															<label style="font-weight: normal;">
																{% if 'Aprovado'|lower not in field.stage|lower %}
																{{ price.get_dif_date_validate }} dia(s)
																{% else %}
																0 dia(s)
																{% endif %}
															</label>
														</div>
														<div
															style="display: inline-block; width: 25%; text-align: center; line-height: 1.7em;">
															Aprovar<br>
															{% if price.approved %}
															<input style="vertical-align: middle;" type="radio"
																name="price_id" value="{{ price.id }}" checked>
															{% else %}
															<input style="vertical-align: middle;" type="radio"
																name="price_id" value="{{ price.id }}">
															{% endif %}
														</div>
													</div>

													<!-- Prazo de entrega -->
													<div style="display: inline-block; width: 100%">
														<label
															style="font-weight: bold; line-height: 1.4em;">Entrega</label><br>
														<label
															style="font-weight: normal;">{{ price.delivery_time }}</label>
													</div>

													<!-- Prazo vencido alerta -->
													{% if 'Aprovado'|lower not in field.stage|lower %}
														{% if price.get_dif_date_validate > 0 %}
														<div style="padding: 10px 10px 10px 10px;">
															<div
																style="display: inline-block; padding: 5px 5px 5px 5px; width: 100%; border-radius:0px 20px 0px 20px; border: solid 1px #FFB400; text-align: center; ">
																<label
																	style="font-weight: bold; line-height: 0.9em; color:#FFB400; padding: 4px 4px 4px 2px;">
																	Este orçamento consta<br>VENCIDO!<br>Mesmo assim, você
																	poderá
																	aprová-lo. Quando a marcenaria entrar em contato lhe
																	informará se o valor ainda esta válido. Você descide se
																	aceita ou não o recalculo.

																</label>
															</div>
														</div>
														{% endif %}
													{% endif %}

													<!-- Forma de pagamento -->
													<div style="display: inline-block;  width: 100%;">
														<label style="font-weight: bold; line-height: 1.4em;">
															Forma de Pagamento
														</label><br>
														<label style="font-weight: normal; line-height: 0.9em;">
															{{ price.form_payment }}
														</label>
													</div>

													<!-- Detalhes -->
													<div style="display: inline-block;  width: 100%;">
														<label style="font-weight: bold; line-height: 1.4em;">
															Detalhes
														</label><br>
														<div
															style="font-weight: normal; line-height: 0.9em; word-wrap: break-word;">
															{{ price.comments }}
														</div>
													</div>

													{% if 'Aprovado'|lower in field.stage|lower %}
														<div style="width: 100%;">
															<form enctype="multipart/form-data" method="POST"
																action="{% url 'qnow_client:quotation_client_comment' field.id %}">
																{% csrf_token %}
																<div style="padding: 10px 10px 10px 10px;">
																	<div
																		style="display: inline-block; padding: 5px 5px 5px 5px; width: 100%; border-radius:0px 20px 0px 20px; border: solid 1px #FFB400; text-align: center; ">
																		<label for="message-text" class="col-form-label" style="font-weight: bold; font-size: 1.2em; line-height: 1em; color:#FFB400; padding: 4px 4px 4px 2px; width: 100%;">
																				Quando receber seu produto da marcenaria<br>
																				<label style="font-weight: bold; font-size: 1.2em; line-height: 2em;"> {{ price.quotation_provider }}</label><br>
																				Deixe aqui seu comentário por favor:
																		</label>
																		<textarea style="height: 15em; width: 100%;"  id="message-text" name="inquire_provider">
																		</textarea>	<br>
																		<input name="button9" value="Enviar meu comentário"	class="btn btn-default uk-button" type="submit">
																	</div>
																</div>
															</form>
														</div>
													{% endif %}
												</div>
											</div>
										</div>
										{% endfor %}
									</div>

									<!-- botões de ações -->
									<div class="modal-footer" style="border-top:0px; padding-top: 0px;">
										{% if 'Aprovado'|lower not in field.stage|lower %}
										<input name="button9" value="Enviar orçamento aprovado por mim"
											class="btn btn-default uk-button" type="submit">
										{% endif %}
									</div>
								</form>
								{% endif %}
							</div>
						</div>

					</div>


					<!-- Botão para editar a cotação -->
					<div class="card-footer text-left">
						<p class="readmore">
							{% if user.is_authenticated %}
							<!--Botão de edição quando stage for "0 Pendente"-->
							{% if 'Pendente'|lower in field.stage|lower %}
							<!-- Alteração da cotação pelo cliente -->
							<a href="{% url 'qnow_client:quotation_client_edit' field.id  %}" class="uk-button"
								style="padding: 3px 3px; width: 5em;">
								Alterar
							</a>

							<!-- Remoção da cotação pelo cliente -->
							<a href="{% url 'qnow_client:quotation_client_delete' quotation_id=field.id action='search'  %}"
								class="uk-button" style="padding: 3px 3px; width: 5em;">
								Remover
							</a>
							{% endif %}

							<!--Botão para nova cotação-->
							{% if 'client'|lower in user.role|lower %}
							<a href="{% url 'qnow_client:quotation_client' %}" class="uk-button"
								style="padding: 3px 3px; width: 10em;">
								Nova Cotação(C)
							</a>

							{% endif %}

							<!-- Botão para receber os orçamentos dos provider e os aprovar -->
							{% if 'Orçado'|lower in field.stage|lower or 'Aprovado'|lower in field.stage|lower %}
							<a class="uk-button" data-toggle="collapse" data-target="#{{ field.slug }}"
								aria-expanded="false" aria-controls="collapseTwo aria-controls"
								style="padding: 3px 3px; width: 15em;" id="info_approved">

								{% if 'Orçado'|lower in field.stage|lower %}
								Lista de Orçamentos
								{% else %}
								Dados da Aprovação
								{% endif %}
							</a>
							</a>
							{% endif %}

							{% endif %}
						</p>
					</div>

				</div>
			</div>
		</article>
	</div>
</div>
{% endfor %}
</section>
{% endif %}


<section class="parallax-section-2">
	<div class="row">
		<div class="col-sm-12 col-md-12" id="parallax2">
			<div class="module ">
				<div class="module-content">
					<div class="uk-text-contrast uk-flex uk-flex-center" data-uk-parallax="{bg: -300}"
						style="min-height: 160px; background-color: rgb(41, 44, 47); background-repeat: no-repeat; background-size: cover; background-position: 50% -42.435px;">
						<div class="container1170" style="padding:20px 15px;">
							<div class="uk-grid">
								<div class="uk-width-medium-3-4">
									<h3 embed-responsive-item style="margin-top pull-left:15px;">
										<h2>{{ user }}</h2>
										Inicie agora mesmo uma nova cotação e receba das melhores
										MARCENARIAS os melhores preços do mercado.
									</h3>
								</div>
								<div class="uk-width-medium-1-4 uk-text-right inverted">
									<h3 embed-responsive-item style="margin-top pull-left:5px;">
										{% if user.is_authenticated %}
										<a class="uk-button uk-child-width-expand raleway16" style="font-size: 0.75em;"
											href="{% url 'qnow_client:quotation_client' %}">Iniciar uma nova cotação</a>
										{% else %}
										<a href="{% url 'qnow_user:login_client_start' %}"
											class="uk-button uk-child-width-expand raleway16"
											style="font-size: 0.75em;">Inicie sua cotação aqui!</a>
										{% endif %}
									</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block footer %}
{% endblock %}